@font-face {
  font-family: 'Glacial Indefferences';
  src: url('../fonts/GlacialIndifference-Regular.woff2');
}

@font-face {
  font-family: 'LifeCraft';
  src: url('../fonts/LifeCraft_Font.ttf');
}

.lc {
  font-family: 'LifeCraft'!important;
}

.gi {
  font-family: 'Glacial Indifference'!important;
}

html {
  background-image: url("../img/mbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
    font-family: 'LifeCraft';
    letter-spacing: 3px;
    margin: 0px;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10vh;
  border-style: solid;
  border-width: 2px;
  background-color: #404040;
  display: block;
}

.head {
  text-align: left;
  padding-left: 10px;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
  background-color: #333333;
}

.row {
  text-align: center;
  color: white;
}

.btn {
  background-color: #0066ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  outline:none;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.inline {
  display: inline!important;
}

.logo {
  margin: auto;
  width: 14%;
}

.hidden-panel {
  display: none;
}

.logo-container {
  width: 100%!important;
  text-align: center!important;
  margin-bottom: 0!important;
}
