.nav-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(138, 138, 138, 0.71);
  font-size: 25px;
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-item {
  float: left;
  height: 100%;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}

.nav-item a:hover {
  background-color: #111;
  cursor: pointer;
}

.right {
 justify-content: end;
}

.left {
  justify-content: start;
  margin-left: -5px;
}
