html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 66.6%;
    --color-bg-main: gray;
    --color-text-main: white;
}

body {
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-bg-main);
}

.nav-list {
    color: var(--color-text-main)
}